.footer {
    /* background-color: rgb(75, 73, 73); */
    border-top: 2px solid #00ccbc;
    color: #000;
    font-size: 14px;
    padding: 10px 0 20px;
}

.footer__heading {
    color: #00ccbc;
    display: block;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 10px;
    padding: 2px 0;
}

footer a {
    color: #bac3c3;
    display: block;
    margin-bottom: 3px;
    text-decoration: none;
    background-color: transparent;
}
a {
    color: #00ccbc;
    text-decoration: none;
}
a {
    background-color: transparent;
}

.copyright {
    background-color: #333;
    border-top: 1px solid #00ccbc;
    color: #00ccbc;
    padding: 10px 0;
}

.footer__column{
    border-left: 5px solid rgba(255,255,255,0.2);
    bottom: 0;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    margin-right: -15px;
}

@media (min-width: 992px){
    .col-md-3 {
        width: 50%;
    }
}
@media (min-width: 992px){
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
}
s
.col-xs-12 {
    width: 100%;
}

.bottom{
    position: bottom;
}

